APScheduler>=3.10.4
SQLAlchemy>=2.0.29
aiosqlite>=0.20.0
backtesting==0.3.3
boto3>=1.34.0
ccxt==4.3.88
filelock>=3.13.1
httpx>=0.27.0
loguru>=0.7.2
numpy>=1.26.0
pandas>=2.2.0
TA-Lib>=0.4.28
python-dotenv>=1.0.1
PyYAML>=6.0.1
yfinance
pydantic>=2.7.0
pydantic-settings>=2.4.0
pytest>=8.2.0
uvicorn>=0.30.0
fastapi>=0.111.0
